body{
    margin: 10px 0 0 0 ;
    padding: 0%;
    background-color: beige;
}


.halfwidth{
    margin-left:60px ;
    display: flex;
    background-color: rgb(12, 11, 9);
    border-radius: 20px;
   
}
.text{
    color: white;
    margin:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2px;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    font-family:font-family: 'Poppins', sans-serif;
}

 /* anchor animation  */

 @keyframes sliding{
    from{
        background-color: #353bf4;
    }
    to{
        background-color: rgb(211, 108, 18);
    }
}
.anchor{
    
    margin-left: 200px;
   
    color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
    padding: 15  ;
    background-color:#353bf4 ;
    animation: sliding 1s ease-in-out 1s infinite alternate ;
}

/* form area */
.form{
    
    margin-left: 500px;
    background-color: black;
    width:500px;
    height: 250px;
    border-radius: 20px;
 
    
   
}
.login {
    padding: 20px;
    margin-bottom: 10px;
   
}
#inputt{
    padding: 20px;
    margin:  10px;
    border-radius: 10px;
}
#inputt:hover{
    background-color:rgb(50, 24, 200);
    text-decoration: none;
}
.display{
    display: grid;
    grid-template-columns: 10px;
}
.box{
    justify-content: center;
    align-items: center;
    padding: 20px 10px 0px 20px ;
    
    width: 215px;
    margin:20px 4px;
    border: 1px solid rgb(134, 128, 128);
    border-radius: 5px;
}
.boxs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.display-box{
   
  
 margin-top: 50px;
}
 /* footer */

footer{
    margin-top:  100px  ;
     
    background-color: black;
    color: aliceblue;
    padding: 50px 0 0 0  ;
    margin-left: 0px;
   width: 100vw;
   justify-content: center;
   

}

.footer-text{
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

/* website 2 */


.thumbnail img{
    width: 300px;
    height: 256px;
    padding-right: 10px;
   
    
}

.blog-img{
    background-color: beige;
    border: 1px rgb(27, 22, 22);
    border-radius: 10px;
    width: 300px;
    height: 420px;
    padding: 10px;
    margin: 10px;
    
}
.thumbnail{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
}
.trans{
    text-decoration: none;
    
}

h2{
    width: 60px;
    border-radius: 2px;
    font-size: small;
    border: 1px solid gray ;
}
.icons{
    justify-content: flex-start;
   
  position: relative;
}
hr{
    color: 1px solid azure;

}
.tab-anchor{
    display: none;
    margin-left: 100px;
    text-decoration: white;
    background-color: #353bf4;
    padding: 10px;
    border-radius: 4px;
}

/* responsive area */

@media screen and (max-width: 576px) {
   .halfwidth{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
        
    }
    .form{
        margin-left: 5px;
        width: 500px;
        background-color: rgb(161, 161, 159);
    }
    .boxs{
        margin-left: 90px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .thumbnail{
        margin-left: 90px;
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
    }
    .footer-text{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media  screen and (min-width:577px) and (max-width: 992px) {
    .halfwidth{
        width: 700px;
        margin-left: 5px;
      
    }
    .anchor{
        padding: 6;
    }
    .form{
        margin-left: 100px;
        width: 500px;
    }
    .boxs{
        margin-left: 90px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .thumbnail{
        margin-left: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
    }
    .footer-text{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .tab-anchor{
        display: inline;
        justify-content: center;
    }
    
}


                        /* END */